rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Hem Okuma Hem Yazma: SADECE Admin (Siz) - Özel Günlük
      allow read, write: if request.auth != null && request.auth.token.admin == true;
    }
  }
}
